{% extends "base.html" %}

{% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">
                            {{ message}}</div>
{#                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
                    {% endfor %}
                </ul>
            {% endif %}


            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.date_show }}</td>
                    <td>
                        <form action="{% url 'movie_order' movie_id=movie.id%}"
                              method="post">
                            {% csrf_token %}
                            <button type="submit">Go</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
{% endblock %}